{% extends "travel/base.html" %}
{% block content %}
{% load static %}
<body background={% static "images/backpurple.jpg" %}>
<div class="col-md-8">
    <br><br>
    <a href="{% url 'blog-home' %}" style="color:white"><strong>BACK TO HOME</strong></a>
    <!-- Blog Post -->
    <div class="card mb-4 mt-4" >
      <div class="card-header" style="background-color:#f18d9e;color:black;">
         
       <strong>CREATE BLOG POST</strong> 
       
      </div>
      <div class="card-body" style="background-color:#EDC7B7;">
       <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary" style="margin-right:50px; background-color:#8860D0;color:black;"><strong>POST ENTRY</strong></button> 
       </form>
      </div>
    </div>
   

    
   

  </div>
</body>
  {% endblock %}
