{% extends "travel/base.html" %}
{% block content %}
{% load static %}

<body background={% static "images/backpurple.jpg" %}>
<div class="col-md-8" style="margin-top:10px">
    <br>
   

    <!-- Blog Post -->
    <div class="card mb-4 mt-4">
      <div class="card-body">
        <h2 class="card-title">{{object.entry_title}}</h2>
        <p class="card-text">{{object.entry_text|linebreaks}}</p>
       
      </div>
      <div class="card-footer text-muted">
        Posted on {{object.entry_date}} by
        <span class= "text-info mr-2">{{object.entry_author}}</span>
      </div>
    </div>
    {% if object.entry_author == user %}
        <a class='btn btn-warning bt-sm' href="{% url 'post-update' object.id %}">Update</a>
        <a class='btn btn-danger bt-sm' href="{% url 'post-delete' object.id %}">Delete</a>
        <a href="{% url 'create_comment' entry.pk %}" class="col-md-2 pull-right">
          <button type="button" class="btn btn-primary">Comment</button>
      </a>
      <center style="color:white;"><h4><b>COMMENTS</b></h4></center>

      {% for comment in comments %}
                  <div class="commnets-area text-left" style="padding-bottom: 100px">


                          <p>{{ comment.entry_text }}</p>

                      </div>

                 
                  {% endfor %}
        
        {% endif %}
      
       
 
  
  </div>
</body>
  {% endblock %}
